*.retry
*__pycache__*
*.csv
*.csv.bak
*.log
*.pyc
**/json_dump/**
.*.swp
.vscode/**
embrionix/vars/*
embrionix/python_tests/*
embrionix/.vscode/settings.json
embrionix/.pytest_cache/*
embrionix/.pytest_cache/v/cache/lastfailed
embrionix/.pytest_cache/v/cache/nodeids
embrionix/.pytest_cache/v/cache/stepwise
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/stepwise
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/stepwise
embrionix/library/check_changed_ips.py
.DS_Store